body {
  font-family: Arial, sans-serif;
}

.head-logo{
    background-image: url(./logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
}

@media (min-width: 1060px) {
  .main-menu > li {
    display: inline-block;
    position: relative;
  }

  .main-menu > li > a {
    display: block;
    padding: 15px 20px;
    /* color: rgb(240, 29, 29); */
    /* text-decoration: none; */
  }

  .main-menu > li > a:hover {
    background-color: #666363;
  }

  .dropdown:hover > .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    white-space: nowrap;
  }

  .dropdown-menu > li {
    position: relative;
  }

  .dropdown-menu > li > a {
    display: block;
    padding: 10px 20px;
    /* color: white; */
    /* text-decoration: none; */
  }

  .dropdown-menu > li > a:hover {
    background-color: #e6dfdf;
  }

  .dropdown-menu .dropdown-menu {
    top: 0;
    left: 100%;
  }

  .dropdown-menu-div li {
    padding: 0.45rem;
  }
}

@media (max-width: 1059px) {
  .nav-panel {
    display: none;
  }
}
